<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style> body{background-color: #cffff8}</style>
    <h1>Did you find all your tag pairs?</h1>
    <h2>How long did it take us?</h2>
    <h3>There were 20 something pairs in total</h3>
    <h6>This is my last heading text. Let's go into more fun stuff</h6>
    <br/>
    <p>Here's what we ate in the potluck yesterday</p>
    <ul>
        <li>Lasagna</li>
        <li>Duck Donuts</li>
        <li>Keylime pie</li>
        <li>Chips</li>
        <li>Dunkin Donuts</li>
        <li>Drinks</li>
    </ul>
    <div></div>
    <hr> </hr>
    <img src="https://www.frameworkhomeownership.org/images/uploads/potluck-like-a-pro-large-fb-share-image.png" alt="Potluck" height="600" width="750">
    <br></br>
    <img>
<a href="">Here are some ideas for <b>summer potluck</b> parties</a>
<form>

    Name:<input/>
    <p>Food I brought<textarea></textarea></p>
<button>Submit</button><button>Cancel</button>
</form>
<table>
<tr>
    <th><b>Staff</b></th><th><b>Their favorites</b></th>
    <tr>
    <td>Jennifer</td><td>Green tea ice cream</td>
</tr>
    <tr>
        <td>Sherry</td><td>Chai tea bubble tea</td>
    </tr>
    <tr>
        <td>AJ</td><td>Olivia macarons</td>
    </tr>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid;
            text-align: left;
            padding: 1px;
        }
    </style>
</table>

</body>
</html>